In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [3]:
import seaborn as sns

In [4]:
%matplotlib inline

In [5]:
df = pd.read_csv('diabetic _retinopathy.csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1151 entries, 0 to 1150
Data columns (total 20 columns):
quality_assesment     1151 non-null int64
prescreening          1151 non-null int64
ma_5                  1151 non-null int64
ma_6                  1151 non-null int64
ma_7                  1151 non-null int64
ma_8                  1151 non-null int64
ma_9                  1151 non-null int64
ma_10                 1151 non-null int64
ex_8                  1151 non-null float64
ex_9                  1151 non-null float64
ex_10                 1151 non-null float64
ex_11                 1151 non-null float64
ex_12                 1151 non-null float64
ex_13                 1151 non-null float64
ex_14                 1151 non-null float64
ex_15                 1151 non-null float64
euclidean_distance    1151 non-null float64
diameter_disc         1151 non-null float64
binary_result         1151 non-null int64
class_label           1151 non-null int64
dtypes: float64(10), int64(10)
memory usage: 179.9 KB

In [7]:
df.head()

,quality_assesment,prescreening,ma_5,ma_6,ma_7,ma_8,ma_9,ma_10,ex_8,ex_9,ex_10,ex_11,ex_12,ex_13,ex_14,ex_15,euclidean_distance,diameter_disc,binary_result,class_label
0,1,1,22,22,22,19,18,14,49.895756,17.775994,5.270920,0.771761,0.018632,0.006864,0.003923,0.003923,0.486903,0.100025,1,0
1,1,1,24,24,22,18,16,13,57.709936,23.799994,3.325423,0.234185,0.003903,0.003903,0.003903,0.003903,0.520908,0.144414,0,0
2,1,1,62,60,59,54,47,33,55.831441,27.993933,12.687485,4.852282,1.393889,0.373252,0.041817,0.007744,0.530904,0.128548,0,1
3,1,1,55,53,53,50,43,31,40.467228,18.445954,9.118901,3.079428,0.840261,0.272434,0.007653,0.001531,0.483284,0.114790,0,0
4,1,1,44,44,44,41,39,27,18.026254,8.570709,0.410381,0.000000,0.000000,0.000000,0.000000,0.000000,0.475935,0.123572,0,1

In [8]:
df.describe()

,quality_assesment,prescreening,ma_5,ma_6,ma_7,ma_8,ma_9,ma_10,ex_8,ex_9,ex_10,ex_11,ex_12,ex_13,ex_14,ex_15,euclidean_distance,diameter_disc,binary_result,class_label
count,1151.000000,1151.000000,1151.000000,1151.000000,1151.000000,1151.000000,1151.000000,1151.000000,1151.000000,1151.000000,1151.000000,1151.000000,1151.000000,1151.000000,1151.000000,1151.000000,1151.000000,1151.000000,1151.000000,1151.000000
mean,0.996525,0.918332,38.428323,36.909644,35.140747,32.297133,28.747176,21.151173,64.096674,23.088012,8.704610,1.836489,0.560738,0.212290,0.085674,0.037225,0.523212,0.108431,0.336229,0.530843
std,0.058874,0.273977,25.620913,24.105612,22.805400,21.114767,19.509227,15.101560,58.485289,21.602696,11.567589,3.923224,2.484111,1.057126,0.398717,0.178959,0.028055,0.017945,0.472624,0.499265
min,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.349274,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.367762,0.057906,0.000000,0.000000
25%,1.000000,1.000000,16.000000,16.000000,15.000000,14.000000,11.000000,8.000000,22.271597,7.939315,1.249050,0.081554,0.000000,0.000000,0.000000,0.000000,0.502855,0.095799,0.000000,0.000000
50%,1.000000,1.000000,35.000000,35.000000,32.000000,29.000000,25.000000,18.000000,44.249119,17.038020,4.423472,0.484829,0.022248,0.001554,0.000000,0.000000,0.523308,0.106623,0.000000,1.000000
75%,1.000000,1.000000,55.000000,53.000000,51.000000,48.000000,43.000000,32.000000,87.804112,31.305692,11.766880,1.921649,0.191953,0.038450,0.004832,0.003851,0.543670,0.119591,1.000000,1.000000
max,1.000000,1.000000,151.000000,132.000000,120.000000,105.000000,97.000000,89.000000,403.939108,167.131427,106.070092,59.766121,51.423208,20.098605,5.937799,3.086753,0.592217,0.219199,1.000000,1.000000

In [9]:
from sklearn.model_selection import train_test_split

In [ ]:
X = final_df.drop('',axis=1)
y = final_data['not.fully.paid']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=101)